@model IEnumerable<DishLish.Models.Map>

@{
    ViewBag.Title = "Index";
}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyArL5SAmuPeVtef1T__LfEaeTyMqJFpxNw&sensor=false" type="text/javascript" onerror="mapLoadError()"></script>

<style>
    
#map_canvas{
   position: absolute;
   top:0; left:0; bottom:0; right:0;
   height: 100%; 
   max-width: 100%;
}
</style>
@*<h2>Find a grocery store or Farmer's Market near you!</h2>*@
<div id="map_canvas"></div>

@section scripts {
<section class="scripts">

    <script type="text/javascript">

        function Initialize() {
            google.maps.visualRefresh = true;
            var currentLocation = new google.maps.LatLng();
            var mapOptions = {
                zoom: 14,
                center: { lat: 43.038902, lng: -87.906471 },
                mapTypeControl: true,
                mapTypeControlOptions: {
                    style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR,
                    position: google.maps.ControlPosition.TOP_CENTER
                },
                zoomControl: true,
                zoomControlOptions: {
                    position: google.maps.ControlPosition.LEFT_CENTER
                },
                scaleControl: true,
                streetViewControl: true,
                streetViewControlOptions: {
                    position: google.maps.ControlPosition.LEFT_TOP
                },
                fullscreenControl: true
            };
            var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);

            var infoWindow = new google.maps.InfoWindow({map: map});

            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(position) {
                    var pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };

                    infoWindow.setPosition(pos);
                    infoWindow.setContent('Location found.');
                    map.setCenter(pos);
                }, function() {
                    handleLocationError(true, infoWindow, map.getCenter());
                });
            } else {
                handleLocationError(false, infoWindow, map.getCenter());
            }

            function handleLocationError(browserHasGeolocation, infoWindow, pos) {
                infoWindow.setPosition(pos);
                infoWindow.setContent(browserHasGeolocation ?
                    'Error: The Geolocation service failed.' :
                    'Error: Your browser doesn\'t support geolocation.');
            }
        }
        Initialize();
    </script>
    <script>
        var mapLoadError = function () {
            console.log("in mapLoadError"),
            $map = $("#map"),
            $map.addClass("error mapError"),
            $map.html("Map is unavailable as the map could not be loaded.</p><p>Please try again later.</p>");
        }
    </script>
    <script>
        $(function () {
            $("header, footer").hide();
        });
    </script>
</section>
}