@model IEnumerable<DishLish.Models.Map>

@{
    ViewBag.Title = "Index";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyArL5SAmuPeVtef1T__LfEaeTyMqJFpxNw&" type="text/javascript" onerror="mapLoadError()"></script>
<link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">
<link href="~/Content/Map.css" rel="stylesheet" />

<div class="marketmap">
    <div id="map-canvas"></div>
</div>
<div id="sidebar">
    <h2>Find a Farmer's Market near you!</h2>
    <p>Shop locally to help out the famers.</p>
    <p>Eat organically.</p>
    <center>
        <div class="float_none">
            <form method="get" id="searchZip">
                <div class="zipSearch">
                    <input id="textZip" type="text" name="zip" placeholder="&nbsp; Enter zip code" autofocus />
                    <input type="submit" class="btn" value="Search" id="zipSubmit" />
                </div>
            </form>
        </div>
        <div id="results" data-bind="visible: marketList().length === numResults, css: { hidden: false }">
            <ul class="list-unstyled market-list" data-bind="foreach: filteredMarkets()"></ul>
        </div>
    </center>
    <div id="map_canvas"></div>
</div>

<script src="~/Scripts/Maps.js"></script>
<script>
    $(function () {
        $("header, footer").hide();
    });
</script>

