@model DishLish.Models.IndexViewModel
@{
    ViewBag.Title = "Home Page";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>DishLish Home Page</title>
    <script type="text/javascript" src="~/Scripts/jquery-1.11.1.min.js"></script>
    <link href="~/Content/master.css" rel="stylesheet" />
</head>
<body class="image">
    
    <div class="container">

        <div class="row">
            <div class="col-lg-8 col-lg-offset-2" id="homeContainer">
                <h1>&#10020; DISHLISH</h1>
                @if (Request.IsAuthenticated)
                {
                    <div id="title">
                        <h3 id="searchForRecipe">Search for recipes</h3>
                    </div>
                    <div id="searchForm">
                        <label class="findRecipeLabel">Select Cuisine type:</label>
                        <br />
                        <select id="cuisineList" class="form-control input-sm"></select>
                        <br />

                        <label class="findRecipeLabel">Select Course:</label>
                        <br />
                        <select id="courseList" class="form-control input-sm"></select>
                        <br />

                        <label class="findRecipeLabel">Search with keywords <i id="separate">(separate with spaces)</i>:</label>
                        <br />
                        <input id="searchParams" type="text" class="form-control" placeholder="Type in a keyword"/>
                        <br />

                        <button id='search' class="btn btn-default btn-lg" onclick='recipeSearch()'>Search for Recipes</button>
                    </div>
                    <div id="searchResults" class="row flex-container">
                        <ul></ul>
                    </div>
                }
                else
                {
                    <p>Find recipes based on ingredients that you currently have and search for recipes to create.</p>
                  <a class="btn btn-default btn-lg" href="/Account/Register"><i class="fa fa-pencil"></i> Register</a>
                }
                <span id="myBg"></span>
            </div>
        </div>
    </div>
    <div id="results">
        <h4 id="resultsLabel">Returned <span id="resultsCount"></span></h4>
    </div>
    <script src="~/Scripts/scripts.js"></script>
    <script src="~/Scripts/searchForRecipes.js"></script>
</body>
</html>