@model DishLish.Models.IndexViewModel
@{
    ViewBag.Title = "Home Page";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>DishLish Home Page</title>
    <link href="~/Content/master.css" rel="stylesheet" />
</head>
<body>
    <div class="container" style="align-content: center">
        <div class="row">
            <div class="col-xs-12">
                <h1>DishLish</h1>
                @if (Request.IsAuthenticated)
                {
                    <p>Search for recipes based on key words <i>i.e: salmon, basil, pho, italian, etc.</i></p>
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-secondary" id="searchButton"><i class="fa fa-search"></i></button>
                        </span>
                        <input type="text" class="form-control" id="searchField" placeholder="Search for...">
                    </div>
                }
                else
                {
                    <p>Find recipes based on ingredients that you currently have and search for recipes to create.</p>
                  <a class="btn btn-default btn-lg" href="/Account/Register"><i class="fa fa-pencil"></i> Register</a>
                }
            </div>
        </div>
    </div>
    <div id="results">
        <h4 id="resultsLabel">Returned <span id="resultsCount"></span></h4>
    </div>
    <ul id="searchResultsList" class="row flex-container"></ul>
    <script src="~/Scripts/scripts.js"></script>
</body>
</html>