@model DishLish.Models.Ingredient

@{
    ViewBag.Title = "Create";
}
@Html.AntiForgeryToken()

<html>
<head>
    <title>Ingredients</title>
    <script src="~/Scripts/jquery-1.11.1.min.js"></script>
    <link href="~/Content/master.css" rel="stylesheet" />
    <style>
    .btn-default {
        color: #333333;
        background-color: #ffffff;
        border-color: #cccccc;
    }

    .btn-default:hover,
    .btn-default:focus,
    .btn-default:active,
    .btn-default.active,
    .open .dropdown-toggle.btn-default {
      color: #333333;
      background-color: #ebebeb;
      border-color: #adadad;
    }

    .btn-default:active,
    .btn-default.active,
    .open .dropdown-toggle.btn-default {
      background-image: none;
    }
    </style>
</head>
<body>
    <h1>Ingredients</h1>
    <p>Select ingredients that you currently have.</p>
    <div class="row">
        <div class="form-group">
            <div class="col-xs-3 col-sm-5 col-md-8 col-lg-10" id="dairy">
                <h3>Dairy</h3>
                <table class="ingredientTable">
                    <tr>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="BlueCheese,dairy"> Blue Cheese
                            </label>
                        </td>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="Butter,dairy"> Butter
                            </label>
                        </td>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="CottageCheese,dairy"> Cottage Cheese
                            </label>
                        </td>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="CreamCheese,dairy"> Cream Cheese
                            </label>
                        </td>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="Cheese,dairy"> Cheese
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="Milk,dairy"> Milk
                            </label>
                        </td>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="Half&Half,dairy"> Half &amp; Half
                            </label>
                        </td>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="HeavyCream,dairy"> Heavy Cream
                            </label>
                        </td>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="Pudding,dairy"> Pudding
                            </label>
                        </td>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="Yogurt,dairy"> Yogurt
                            </label>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col-xs-3 col-sm-5 col-md-8 col-lg-10" id="fruit">
                <h3>Fruit</h3>
                <table class="ingredientTable">
                    <tr>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="Apple,fruit"> Apple
                            </label>
                        </td>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="AsianPear,fruit"> Asian Pear
                            </label>
                        </td>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="Avocado,fruit"> Avocado
                            </label>
                        </td>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="Banana,fruit"> Banana
                            </label>
                        </td>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="Blueberry,fruit"> Blueberry
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="Grape,fruit"> Grape
                            </label>
                        </td>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="Grapefruit,fruit"> Grapefruit
                            </label>
                        </td>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="Orange,fruit"> Orange
                            </label>
                        </td>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="Pomegranate,fruit"> Pomegranate
                            </label>
                        </td>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="Raspberry,fruit"> Raspberry
                            </label>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col-xs-3 col-sm-5 col-md-8 col-lg-10" id="grain">
                <h3>Grain</h3>
                <table class="ingredientTable">
                    <tr>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="Crackers,grain"> Crackers
                            </label>
                        </td>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="Cornmeal,grain"> Cornmeal
                            </label>
                        </td>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="CornTortillas,grain"> Corn Tortillas
                            </label>
                        </td>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="FlourTortillas,grain"> Flour Tortillas
                            </label>
                        </td>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="Cereal,grain"> Cereal
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="Couscous,grain"> Couscous
                            </label>
                        </td>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="Spaghetti,grain"> Noodles - Spaghetti
                            </label>
                        </td>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="AngelHairPasta,grain"> Noodles - Angel Hair Pasta
                            </label>
                        </td>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="Ramen,grain"> Noodles - Ramen
                            </label>
                        </td>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="Fettuccine,grain"> Noodles - Fettuccine
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="Macaroni,grain"> Noodles - Macaroni
                            </label>
                        </td>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="Oatmeal,grain"> Oatmeal
                            </label>
                        </td>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="Pretzels,grain"> Pretzels
                            </label>
                        </td>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="Popcorn,grain"> Popcorn
                            </label>
                        </td>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="Quinoa,grain"> Quinoa
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="BasmatiRice,grain"> Rice - Basmati
                            </label>
                        </td>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="BrownRice,grain"> Rice - Brown
                            </label>
                        </td>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="WhiteRice,grain"> Rice - White
                            </label>
                        </td>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="WildRice,grain"> Rice - Wild
                            </label>
                        </td>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="RolledOats,grain"> Rolled Oats
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="Popcorn,grain"> Popcorn
                            </label>
                        </td>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="Udon,grain"> Udon Noodles
                            </label>
                        </td>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="Vermicelli,grain"> Vermicelli Noodles
                            </label>
                        </td>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="WhiteBread,grain"> White Bread
                            </label>
                        </td>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="WholeWheatBread,grain"> Whole Wheat Bread
                            </label>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col-xs-3 col-sm-5 col-md-8 col-lg-10" id="meat">
                <h3>Meat</h3>
                <table class="ingredientTable">
                    <tr>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="Chicken,meat"> Chicken </label>
                        </td>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="ChickenWings,meat"> Chicken - Wings
                            </label>
                        </td>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="ChickenBreast,meat"> Chicken - Breast
                            </label>
                        </td>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="ChickenThighs,meat"> Chicken - Thighs
                            </label>
                        </td>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="ChickenDrumsticks,meat"> Chicken - Drumsticks
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="MockChickenLegs,meat"> Mock Chicken Legs
                            </label>
                        </td>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="ChuckRoast,meat"> Beef Chuck Roast
                            </label>
                        </td>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="FlankSteak,meat"> Beef - Flank Steak
                            </label>
                        </td>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="Beef,meat"> Beef </label>
                        </td>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="BeefShortRibs,meat"> Beef - Shortribs
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="RibeyeSteak,meat"> Beef - Ribeye Steak
                            </label>
                        </td>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="NYSteak,meat"> Beef - NY Steak
                            </label>
                        </td>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="Tenderloin,meat"> Beef - Tenderloin
                            </label>
                        </td>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="StewMeat,meat"> Beef - Stew Meat
                            </label>
                        </td>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="SpareRibs,meat"> Beef - Spare Ribs
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="RoundSteak,meat"> Beef - Round Steak
                            </label>
                        </td>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="Sirloin,meat"> Beef - Sirloin
                            </label>
                        </td>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="Rump,meat"> Beef - Rump
                            </label>
                        </td>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="GroundBeef,meat"> Ground Beef
                            </label>
                        </td>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="GroundPork,meat"> Ground Pork
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="GroundTurkey,meat"> Ground Turkey
                            </label>
                        </td>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="Pork,meat"> Pork
                            </label>
                        </td>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="PorkBelly,meat"> Pork Belly
                            </label>
                        </td>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="PorkChops,meat"> Pork Chops
                            </label>
                        </td>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="Porkloin,meat"> Pork Loin
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="PorkSpareRibs,meat"> Bacon
                            </label>
                        </td>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="Fish,meat"> Fish
                            </label>
                        </td>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="Tilapia,meat"> Fish - Tilapia
                            </label>
                        </td>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="Salmon,meat"> Fish - Salmon
                            </label>
                        </td>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="Shrimp,meat"> Shrimp
                            </label>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col-xs-2 col-sm-3 col-md-4 col-lg-5" id="vegetable">
                <h3>Vegetable</h3>
                <table class="ingredientTable">
                    <tr>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="Artichoke,vegetable"> Artichoke
                            </label>
                        </td>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="Asparagus,vegetable"> Asparagus
                            </label>
                        </td>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="BeanSprouts,vegetable"> Bean sprouts
                            </label>
                        </td>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="GreenBeans,vegetable"> Green beans
                            </label>
                        </td>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="BokChoy,vegetable"> Bok Choy
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="Broccoli,vegetable"> Broccoli
                            </label>
                        </td>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="BrusselsSprouts,vegetable"> Brussels Sprouts
                            </label>
                        </td>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="Cabbage,vegetable"> Cabbage
                            </label>
                        </td>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="Carrot,vegetable"> Carrot
                            </label>
                        </td>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="Cauliflower,vegetable"> Cauliflower
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="Celery,vegetable"> Celery
                            </label>
                        </td>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="Chard,vegetable"> Chard
                            </label>
                        </td>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="CollardGreens,vegetable"> Collard Greens
                            </label>
                        </td>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="Chives,vegetable"> Chives
                            </label>
                        </td>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="Cilantro,vegetable"> Cilantro
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="Cucumber,vegetable"> Cucumber
                            </label>
                        </td>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="Dill,vegetable"> Dill
                            </label>
                        </td>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="Garlic,vegetable"> Garlic
                            </label>
                        </td>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="Ginger,vegetable"> Ginger
                            </label>
                        </td>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="GreenOnion,vegetable"> Green Onion
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="Habanero,vegetable"> Habanero
                            </label>
                        </td>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="Jalapeno,vegetable"> Jalapeno
                            </label>
                        </td>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="Kale,vegetable"> Kale
                            </label>
                        </td>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="LemonGrass,vegetable"> Lemon Grass
                            </label>
                        </td>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="Mushroom,vegetable"> Mushroom
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="Onion,vegetable"> Onion
                            </label>
                        </td>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="Parsley,vegetable"> Parsley
                            </label>
                        </td>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="Potato,vegetable"> Potato
                            </label>
                        </td>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="Rosemary,vegetable"> Rosemary
                            </label>
                        </td>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="Sage,vegetable"> Sage
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="Shallot,vegetable"> Shallot
                            </label>
                        </td>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="Spinach,vegetable"> Spinach
                            </label>
                        </td>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="Squash,vegetable"> Squash
                            </label>
                        </td>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="SweetPotato,vegetable"> Sweet Potato
                            </label>
                        </td>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="Thyme,vegetable"> Thyme
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="Tomato,vegetable"> Tomato
                            </label>
                        </td>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="Turnip,vegetable"> Turnip
                            </label>
                        </td>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="Water Chestnut,vegetable"> Water Chestnut
                            </label>
                        </td>
                        <td>
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" class="ing" value="Zucchini,vegetable"> Zucchini
                            </label>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div style="padding-top: 22px;">
        <button>@Html.ActionLink("Back to List", "Index")</button>
        <span>
            <button onclick="SaveIngredient()"id="saveIngredients"><a href="index">Add ingredients</a></button>
        </span>
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        <script src="~/Scripts/scripts.js"></script>
    }
</body>
</html>