#map-canvas{
   position: absolute;
   top:0; left:0; bottom:0; right:0;
   height: 100%; 
   max-width: 100%;
}
#sidebar {
    display:table-cell;
    width: 18%;
    bottom:0;
    position:absolute;   
    top:82px;
    bottom: 26px;
    background: rgba(34, 40, 52, 0.83);
    left: 30px;
}
#sidebar h2 {
    color: white;
    font-size: 46px;
    padding-top: 10px;
    padding-left: 14px;
    padding-right: 10px;
    text-shadow: 0px 2px 3px black;
}
#sidebar p {
    color: white;
    font-size: 17px;
    padding-top: 20px;
    padding-left: 14px;
    padding-right: 10px;
    text-shadow: 0px 1px 1px black;
}
.zipSearch {
    padding-top: 50px;
}
#zipSubmit {
    background-color: white;
    color: black;
    font-weight: 700;
    padding-top: 3px;
    padding-bottom: 2px;
}
#textZip {
    color: black;
    width: 163px;
}
#results {
    height: 117px;
    width: 300px;
}
#results h1 {
    font-size: 25px;
}
#results h3{
    font-size: 18px;
}
#results p {
    font-size: 12px;
    color: black;
}