/* == Body == */
body {
    font-family: sans-serif;
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-top: 55px;
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}

#resultsLabel {
    display: none;
}

/* == Footer == */
#footer {
    width: 100%;
}
.form-group {
    margin-bottom: 49px;
}
footer .row {
    width: 100%;
    margin: 0 auto;
}
footer p {
    padding: 20px 0;
    margin-left: -20px;
    margin-top: 13px;
}
footer ul {
    float: right;
    margin-top: 24px;
}
footer ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: 15px;
}
footer ul li a {
    color: #000000;
    text-decoration: none;
    font-size: 25px;
    /*-moz-transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;*/
}
/*footer ul li a:hover {
    color: rgb(242, 65, 184);
}*/
/*footer a#go-top {
    text-decoration: none;
    color: rgb(123, 47, 169);
    font-size: 45px;
    float: right;
    margin-right: -60px;
    margin-top: 10px;
}*/

/* == Scrolling ==*/
#backToTop {
    bottom: 20px;
    position: fixed;
    right: 2%;
    z-index: 100;
}

.scrollToTop {
    display: none;
}

.scrollToTop img {
    border: 0;
    height: 35px;
    width: 35px;
}









/* == Sections == */
/*/*.wrapper {
    height: 100% !important;
    height: 100%;
    margin: 0 auto; 
    overflow: hidden;
}
.main {
    float: left;
    width: 100%;
    margin: 0 auto;
}
.main section .page_container {
      position: relative;
      top: 25%;
      margin: 0 auto 0;
      max-width: 950px;
      z-index: 3;
    }
.main section  {
    /*overflow: hidden;
}*/
/*.main section .page_container .btns {
    clear: both;
    float: left;
    text-align: center;
    width: 435px;
}
.main section .page_container .btns a{
    text-align: center;
}*/
    /* -- Page 1 -- */
    /*.main section.page1 {
        background:rgb(230, 217, 200);
    }
    .main section.page1 h1 {
        text-align: left;
        padding: 0;
        margin-bottom: 15px;
        font-size: 70px;
        color: black;
    }*/
    /* -- Page 2 -- */
    /*.main section.page1 h2 {
        color: rgba(0,0,0,0.85);
        text-align: center;
        width: 435px;
        line-height: 160%;
    }
    .main section.page2 {
        background: #555557;
    }
    .main section.page2 .page_container {
        margin-top: 240px;
        overflow: hidden;
    }
    .main section.page2 h1 {
        text-align: center;
        padding: 0;
        margin-bottom: 15px;
        font-size: 50px;
        letter-spacing: -1px;
        color: white;
    }
    .main section.page2 h2 {
        color: rgba(255,255,255,0.85);
        text-align: center;
        line-height: 160%;
        font-weight: 100;
    }
    .viewing-page-2 .back{
        background: rgba(0, 0, 0, 0.25);
        color: #FFF;
    }*/
    /* -- Page 3 -- */
    /*.main section.page3 .page_container {
          overflow: hidden;
          width: 500px;
          right: -285px;
        }
    .main section.page3 h1 {
        text-align: left;
        padding: 0;
        margin-bottom: 0;
        font-size: 70px;
        letter-spacing: -1px;
        color: black;
    }
    .main section.page3 h2 {
        color: rgba(0,0,0,0.85);
        text-align: left;
        line-height: 160%;
        font-weight: 100;
        font-size: 21px;
    }
.searchable-container{margin:100px 0 0 0}
.searchable-container label.btn-default.active{background-color:#b50d50;color:white}
.searchable-container label.btn-default{width:90%;border:1px solid #efefef;margin:5px; box-shadow: 1px 1px 1px 0 #ccc2c8;}
.searchable-container label .bizcontent{width:100%;}
.searchable-container .btn-group{width:80%}*/