/* == Body == */
body {
    font-family: sans-serif;
    padding-top: 50px;
    padding-bottom: 20px;
}

a:hover, a:focus{
    color: #b96232;
}

::selection {
  background: #2e5790; /* WebKit/Blink Browsers */
  color:white;
}
::-moz-selection {
  background: #2e5790; /* Gecko Browsers */
  color:white;
}

.body-content {
    padding-top: 55px;
    padding-left: 15px;
    padding-right: 15px;
}

.container{
    height: 100%;
}

a {
    color: #0a6278;
    font-weight: bold;
    text-decoration: none;
}

#searchRecipesList {
    list-style: none;
}

.navbar-inverse{
    background-color: #fff;
    border-color: #2e5790;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand{
    color: #2e5790;
    font-size: 3rem;
}

.navbar-inverse .navbar-nav>li>a{
    color: #2e5790;
}
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus{
    background-color: transparent;
    color: #b96232;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus{
    background-color: transparent;
    color: #b96232;
}

.btn-default{
    color: #ffffff;
    background-color: #2e5790;
    border-color: #003782;
}

.btn-default:hover{
    background-color: #003782;
    border-color: #003782;
}

#homeContainer{
    padding: 40px;
    margin-top:6%;
}

#homeContainer h1{
    color:#fff;
    text-shadow: 1px 1px 1px black;
    font-size: 6rem;
}
#homeContainer p{
    color:#fff;
    text-shadow: 1px 1px 1px black;
    font-size: 3rem;
}

#myBg{
    border-radius: 5px;
    position:absolute;
    background:#2d2218;
    width:100%;
    height:100%;
    top:0;
    left:0;
    opacity:0.6;
    z-index:-2;
}

.dl-horizontal dt {
    white-space: normal;
    color: black;
}

input,
select,
textarea {
    max-width: 280px;
}

#resultsLabel {
    display: none;
}
#inventoryEDU {
    font-size: x-small;
    font-weight: 100;
}

.image {
    background: url(../Images/bg2.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:100vh;
}

/* == Register styles == */
.center-div {
    margin: 0 auto;
    width: 60%;
    height: 100px;
}
.recaptcha {
    padding-left: 120px;
    margin-top: 0;
}

/* == Manage Page ==*/
.manageBG{
    background: url(../Images/bg3.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:100vh;
}

/* == Ingredients Page ==*/
.table {
    color: black;
}

p {
    color: black;
}

td, th {
    padding: 5px;
    width: 6em;
}

.btn {
    text-align: left;
}

/* == Search Results Main Page == */
#title{
    color: white;
}
#title h3 {
    color: white;
    text-shadow: 1px 1px 1px black;
}
#title p{
    font-size: 1.2em;
    text-shadow: 1px 1px 1px black;
}

#searchForm {
    color: white;
    text-shadow: 1px 1px 1px black;
}
#searchResults {
    color: white;
    text-shadow: 1px 1px 1px black;
}

label.findRecipeLabel {
    display: inline-block;
    letter-spacing: 0.0785em;
    max-width: 100%;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 5px;
    text-shadow: 0px 2px 3px black;
}

i#separate {
    font-weight: normal;
    font-size: small;
    text-shadow: 0px 2px 3px black;
}

h4.recipeName {
    color: white;
    font-size: 22px;
}

.form-control {
    max-width: 100%;
}

select.input-sm {
    max-width: 100%;
}

#searchResultsList {
    list-style: none;
} 

.btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default{
    color: #ffffff;
    background-color: #2e5790;
    border-color: #003782;
}                                                                   }

.listOfRecipeInfo {
    display: inline-table;
}
.flex-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: space-around;
    -webkit-flex-flow: row wrap;
}

.flex-item {
    height: 50%;
    margin-top: 19px;
    width: 50%;
}

/* == GroceryList == */
#page, #bottom {
    margin-top: 10px;
    text-align: center;
}

#smilingFood {
    height: 100px;
    width: auto;
    vertical-align: middle;
}

.del {
    text-decoration: line-through;
}

#dropDown {
    margin-bottom: 3%;
    font-size: 20px;
    color: black;
}

#add {
    margin-left: 2%;
    color: black;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    margin-right: 1%;
}

#input {
    color: black;
    font-family: 'Open Sans Condensed', sans-serif;
    padding-right: 10%;
    font-size: 20px;
}

#remove {
    color: black;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    margin-left: 1%
}

.checked {
    float: right;
    color: black;
    font-size: 15px;
}

.liEl {
    width: 400px;
    height: 39px;
    font-size: 23px;
    color: black;
    list-style: none;
}

ul {
    margin-top: 4%;
    margin-left: 27%;
}

/* == Footer == */
#footer {
    width: 88%;
    position: relative;
    bottom:0;
}
footer a:hover, footer a:focus{
    color: #2e5790;
}

.form-group {
    margin-bottom: 40px;
}
footer .row {
    width: 100%;
    margin: 0 auto;
}
footer p {
    color:#49596f;
    font-size:12px;
    padding: 20px 0;
    margin-left: -20px;
    margin-top: 13px;
}
footer ul {
    float: right;
    margin-top: 24px;
}
footer ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: 15px;
}
footer ul li a {
    color: #696d6e;
    text-decoration: none;
    font-size: 25px;
}

/* == Scrolling ==*/
#backToTop {
    bottom: 20px;
    position: fixed;
    right: 2%;
    z-index: 100;
}

.scrollToTop {
    display: none;
}

.scrollToTop img {
    border: 0;
    height: 35px;
    width: 35px;
}