/* == Body == */
body {
    font-family: sans-serif;
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-top: 55px;
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}

#resultsLabel {
    display: none;
}
#inventoryEDU {
    font-size: x-small;
    font-weight: 100;
}
#helloUser {

}
.image {
    background: url(../Images/pepper.jpg) no-repeat;
    max-width: 100%;
    background-position: left top;
    background-size: auto, cover;
    background-attachment: fixed;
    height: 100vh;
}
/* == Search Results Main Page == */
#searchResultsList {
    list-style: none;
}
.listOfRecipeInfo {
    display: inline-table;
}
.flex-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: space-around;
    -webkit-flex-flow: row wrap;
}

.flex-item {
    height: 179px;
    margin-top: 10px;
    padding: 5px;
    width: 249px;
}

/* == GroceryList == */
#page, #bottom {
    margin-top: 10px;
    text-align: center;
}

#smilingFood {
    height: 100px;
    width: auto;
    vertical-align: middle;
}

.del {
    text-decoration: line-through;
}

#dropDown {
    margin-bottom: 3%;
    font-size: 20px;
    color: black;
}

#add {
    margin-left: 2%;
    color: black;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    margin-right: 1%;
}

#input {
    color: black;
    font-family: 'Open Sans Condensed', sans-serif;
    padding-right: 10%;
    font-size: 20px;
}

#remove {
    color: black;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    margin-left: 1%
}

.checked {
    float: right;
    color: black;
    font-size: 15px;
}

.liEl {
    ;
    width: 250px;
    padding: 2%;
    margin-left: 8%;
    border-radius: 5%;
    font-family: sans-serif;
    font-size: 25px;
    color: white;
}

ul {
    margin-top: 4%;
}


/* == Footer == */
#footer {
    width: 100%;
}
.form-group {
    margin-bottom: 49px;
}
footer .row {
    width: 100%;
    margin: 0 auto;
}
footer p {
    padding: 20px 0;
    margin-left: -20px;
    margin-top: 13px;
}
footer ul {
    float: right;
    margin-top: 24px;
}
footer ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: 15px;
}
footer ul li a {
    color: #000000;
    text-decoration: none;
    font-size: 25px;
}

/* == Scrolling ==*/
#backToTop {
    bottom: 20px;
    position: fixed;
    right: 2%;
    z-index: 100;
}

.scrollToTop {
    display: none;
}

.scrollToTop img {
    border: 0;
    height: 35px;
    width: 35px;
}









/* == Sections == */
/*/*.wrapper {
    height: 100% !important;
    height: 100%;
    margin: 0 auto; 
    overflow: hidden;
}
.main {
    float: left;
    width: 100%;
    margin: 0 auto;
}
.main section .page_container {
      position: relative;
      top: 25%;
      margin: 0 auto 0;
      max-width: 950px;
      z-index: 3;
    }
.main section  {
    /*overflow: hidden;
}*/
/*.main section .page_container .btns {
    clear: both;
    float: left;
    text-align: center;
    width: 435px;
}
.main section .page_container .btns a{
    text-align: center;
}*/
    /* -- Page 1 -- */
    /*.main section.page1 {
        background:rgb(230, 217, 200);
    }
    .main section.page1 h1 {
        text-align: left;
        padding: 0;
        margin-bottom: 15px;
        font-size: 70px;
        color: black;
    }*/
    /* -- Page 2 -- */
    /*.main section.page1 h2 {
        color: rgba(0,0,0,0.85);
        text-align: center;
        width: 435px;
        line-height: 160%;
    }
    .main section.page2 {
        background: #555557;
    }
    .main section.page2 .page_container {
        margin-top: 240px;
        overflow: hidden;
    }
    .main section.page2 h1 {
        text-align: center;
        padding: 0;
        margin-bottom: 15px;
        font-size: 50px;
        letter-spacing: -1px;
        color: white;
    }
    .main section.page2 h2 {
        color: rgba(255,255,255,0.85);
        text-align: center;
        line-height: 160%;
        font-weight: 100;
    }
    .viewing-page-2 .back{
        background: rgba(0, 0, 0, 0.25);
        color: #FFF;
    }*/
    /* -- Page 3 -- */
    /*.main section.page3 .page_container {
          overflow: hidden;
          width: 500px;
          right: -285px;
        }
    .main section.page3 h1 {
        text-align: left;
        padding: 0;
        margin-bottom: 0;
        font-size: 70px;
        letter-spacing: -1px;
        color: black;
    }
    .main section.page3 h2 {
        color: rgba(0,0,0,0.85);
        text-align: left;
        line-height: 160%;
        font-weight: 100;
        font-size: 21px;
    }
.searchable-container{margin:100px 0 0 0}
.searchable-container label.btn-default.active{background-color:#b50d50;color:white}
.searchable-container label.btn-default{width:90%;border:1px solid #efefef;margin:5px; box-shadow: 1px 1px 1px 0 #ccc2c8;}
.searchable-container label .bizcontent{width:100%;}
.searchable-container .btn-group{width:80%}*/