@model DishLish.Models.IndexViewModel
@{
    ViewBag.Title = "Account";
}

<h2>My @ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div class="">
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
            <dd>
                [
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Change your password", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Create", "SetPassword")
                }
                ]
            </dd>
    </dl>
    <p><a href="../CurrentInventories/Create">Update Inventory</a></p>
</div>
